
@page "/orphans"
@using Aytam.Data
@using Aytam.Components
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _db


<h1>Orphans</h1>


@if (_OrphansList == null)
{
    <p>
        <em>Loading...</em>
    </p>

}
else
{

    <AlertMessage Message="@_Message" AlertType="@_AlertType"></AlertMessage>

    <AddOrphan Show="_Show"></AddOrphan>
    <button @onclick="() => { _Show = true; }">Add Orphan</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CPR</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in _OrphansList)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.CPR</td>
                    <td>@item.Gender</td>
                    <td>@item.Age</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" @onclick="async () => { await DeleteOrphan(item.ID); }">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </button> &nbsp; &nbsp;
                        <button type="button" class="btn btn-outline-dark" @onclick="() => { EditOrphan(item); }"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                    </td>

                </tr>
            }

        </tbody>


    </table>
}




@code {


    private List<Orphan> _OrphansList;
    private string _Message = "";
    private AlertType _AlertType = AlertType.Secondary;
    private Orphan OrphanToEdit = null;
    private bool _Show = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _OrphansList = await _db.Orphans.ToListAsync();
            StateHasChanged();
        }

    }

    private async Task DeleteOrphan(int ID)
    {
        try
        {
            Orphan _Orphan = await _db.Orphans.FindAsync(ID);
            _db.Orphans.Remove(_Orphan);
            await _db.SaveChangesAsync();

            _OrphansList.Remove(_Orphan);
            _Message = "Deleted Successfully";
            _AlertType = AlertType.Success;
        }
        catch (Exception ex)
        {
            _Message = ex.Message;
            _AlertType = AlertType.Danger;
        }
    }

    private void EditOrphan(Orphan orphan)
    {
        OrphanToEdit = orphan;

    }


}